extends layout

block do_game 

  div(class='row my-3 justify-content-center')
      <div class="input-group addGame">
        <div class="input-group-text col-sm-4"><b>Set player count</b></div>
        input#playerCount( type="number" name="playerCount" min="2" max="10" value='2' class='col-sm-2 centered-input')
        // Button trigger modal
        button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal' onclick="addRows()" class='col-sm-6')
            | <b> Create Elo Game </b>
      </div>
      
      // Modal
      #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog.modal-fullscreen
              .modal-content.modal-size
                  .modal-header
                      h5#exampleModalLabel.modal-title <b>Create Elo Game</b>
                      button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close' onclick="reloadPage()")
                  .modal-body
                    div(class='row mb-3 border-bottom border-3')
                      div(class='col-md-1 fw-bold') #
                      div(class='col-md-3 fw-bold') Player
                      div(class='col-md-2 fw-bold') Elo
                      div(class='col-md-2 fw-bold') Change
                      br
                      br
                    form(id='gameForm' action="/addGame" method="POST" class='form-registration')
                      div(id='playerRows' class='row mb-0')
                        input(id='eloInput' name='eloInput' value='0' type="text" hidden)
                        .playerCount-container
                      hr
                      div(class='row mb-2 justify-content-center')
                        div(class='col-sm-1')
                        input(class='col-sm-5' name='comment' type='text' placeholder='Comment here...')
                        div(class='col-sm-2')
                          button.btn.btn-secondary(type='button' data-bs-dismiss='modal' onclick="reloadPage()") Close
                        div(class='col-sm-4')
                          button.btn.btn-primary(type='submit') Save game

                  .modal-footer

  script.
    gameSetup();

block elo_table
  br

  h2(class='my-2') <b>Current Elo </b>
  div.card
    div.card-body
      each player in availablePlayer 
        div(class='row mb-2' hidden)
          div(class='col-sm-6') #{player.playerName}
          div(id=player.playerName + '_elo' class='col-sm-4') #{Math.round(player.elo)}

      table#eloTable
        thead
          tr
            th #
            th Player
            th Elo
        tbody
          each player, i in availablePlayer
            tr
              td #{i +1}.
              td= player.playerName
              td #{Math.round(player.elo)}
        script.
          $(document).ready(function() {
            $('#eloTable').DataTable({
              paging: false,
              language: {
                info: ''
              }
            });
          });

  br

  div.card
    div.card-body
        form(action='./addPlayer' method='POST' class='form-registration')
          div(class='row my-3')
              div(class='col-sm-9')
                input(class="form-control form-control-sm addGame" type="text" name='playerName', placeholder="Enter player name here..." )
              div(class='col-sm-3 addGame')
                button(class='btn btn-primary btn-sm' type='submit') Add player

block games_table

  br
  br

  h2(class='my-2') <b>Games</b>

  each game in playedGames.reverse()
    div.card
      div.card-body
        div(class='row mb-2')
          div(class='col-sm-12')
            //h5.card-title Table Card
            div.table
              table.table
                thead
                  tr
                    th(style='width: 20px;')
                    th Player
                    th Elo
                tbody
                  each player, i in game.player
                    tr
                      td ##{i +1}
                      td #{player}
                      td 
                        div(class='row')
                          div(class='col-sm-6') #{Number(game.newElo[i]) - Number(game.elo[i])} &rarr; #{game.newElo[i]} 
                          - const elo = Number(game.elo[i])
                          div(class=(elo >= 0) ? 'green col-sm-4' : 'red col-sm-4') 
                            | (#{elo})
          div(class='col-sm-12')    
            div.comment-box 
              | <b>Comment:</b> <br> #{game.comment}
    br
